// Colors

$brand-dark: #000;
$brand-light: #fff;
$main-text: #6f7c83;
$main-background: #f5f7f8;
$main-text-inverted: #f9f9f9;
$brand-success: #58bf00;
$brand-error: #f40c1a;

$input-border: #aeb6ba;
$submit-background: #899296;

$brand-primary: #494fda;
$brand-secondary: #6a6fe1;
$brand-background: #ffffff;

$border-color: #d6d6d6;
$border: 1px solid $border-color;

$icon-color: #a6a6a6;