// Variables

// Fonts
$base-font-size: 16;

// Borders
$border-radius: 3px;

// Transitions
$transition: all 0.1s ease-in-out;

// Header & Footer
$header-height: 2.5rem;
$menu-height: 2rem;

// Z Indexes
$layout-z-index: 10;
$router-z-index: 1;