$list-item-height: 3.25rem;

.list {
  margin: calc(#{$header-height} + #{$menu-height}) 0 $header-height 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
  overflow-y: scroll;

  &__item {
    @include reset-button;
    height: $list-item-height;
    border-bottom: $border;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
    transition: $transition;
    position: relative;

    &:last-child {
      border-bottom: none;
    }

    &__info {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__name {
      font-size: 14px;
    }

    &__image {
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }

    &__price {
      font-weight: 700;
      font-size: 13px;
      color: $icon-color;
      transition: $transition;
      text-align: right;
    }

    &__delta {
      position: absolute;
      top: calc((#{$list-item-height} / 2) - 7px);
      left: calc(50% - 20px);
      font-size: 12px;
      font-weight: 700;
      text-align: right;

      &--up {
        opacity: 0.75;
        color: $brand-success;
      }

      &--down {
        opacity: 0.7;
        color: $brand-error;
      }
    }

    &:hover {
      background-color: #f5f5f5;

      .list__item__price {
        color: $brand-dark;
      }

      .list__item__delta {
        opacity: 1;
      }
    }
  }
}